    <h2>Olet lähettänyt kalenteri kutsu nettisivulta: </h2>
    <h4><a href="http://users.metropolia.fi/~vladimg">CV Developer | Vladimir Gavrilov</a></h4>
    <p>Kiitos ajanvarausta. Kutsu lähetetty onnistuneesti. Vladimir ottaa yhteyttä teidän kanssa pian.</p>
    <p>
      Liitteenä on tapahtuma. Lisää sen oma kalenteriin.
    </p>
    <p>
        =====Tämä on automaattisesti lähetetty sähköpostiviesti=====
    </p>
